name = "pet-republic-api"
main = "src/index.js"
compatibility_date = "2024-10-01"
workers_dev = true

[triggers]
crons = ["*/10 * * * *"]

[[d1_databases]]
binding = "DATABASE"
database_name = "image-db"
database_id = "243fe99c-70d9-4d4d-89e7-d3dd3b58dadf"   # ✅ 這行填上

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "my-images-bucket"

[vars]
MAX_IMAGE_MB = "20"
