name = "pet-republic-api"
main = "src/index.js"
compatibility_date = "2023-12-01"

[triggers]
crons = ["*/10 * * * *"]

[[d1_databases]]
binding = "DATABASE"
database_name = "image-db"

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "my-images-bucket"

# 綁定 Secret (總共 6 個)
[secrets]
"AIRTABLE_API_TOKEN"
"USERNAME"
"PASSWORD"
"DOMAIN"
"AIRTABLE_BASE_ID"      # <-- [新] 新增這一行
"AIRTABLE_TABLE_NAME" # <-- [新] 新增這一行
