# ========= 基本 =========
name = "pet-republic-api"
main = "src/index.js"
compatibility_date = "2024-10-01"
# 
workers_dev = true

# ========= Vars =========
[vars]
MAX_IMAGE_MB = "20"

# ========= R2（預設環境）=========
[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "my-images-bucket"

# ========= D1（預設環境）=========
[[d1_databases]]
binding = "DATABASE"
database_name = "image-db"
migrations_dir = "migrations"

# ========= Cron（選填）=========
[triggers]
crons = ["*/30 * * * *"]

# ========= production 環境 =========
[env.production]
account_id = "7f62a5bc86f62578367c93b8a1e0f131"

# ✅ 
# 
workers_dev = false
# ✅ 
routes = ["image.wedo.pet/*"]

[env.production.vars]
MAX_IMAGE_MB = "20"

[[env.production.r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "my-images-bucket"

[[env.production.d1_databases]]
binding = "DATABASE"
database_name = "image-db"
migrations_dir = "migrations"
